{% extends "shop/base.html" %}
{% block main %}
    <h1>Product page</h1><br><br>
    <div class="row">
    {% for product in products%}
        <div class="col-sm-4">
            <div class="card border-primary mb-lg-5">
                <img class="card-img-top" src="/media/{{ product.image }}" alt="{{ product.name }} image"><!--<br><br><br><br><br><br><br>-->
                <p class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        <p>Rating: {{ product.rating }}</p>
                        <p style = "font-size: 28px;">₹{{ product.price}}</p>
                    <p style = "font-size: 12px;">MRP: <s>₹{{ product.mrp }}</s>{% comment %} ({{ product.discount }}% off)</p>{% endcomment %}
                    <a href="#" class="btn btn-primary">View details</a>
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock main %}